/* CSS reset
---------------------------------------------------------------- */
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, code,
em, img, q, small,
strong,
dd, dl, dt, ol, ul, li,
fieldset, form, label, table,
tbody, tr, th, td, input {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background: #fff;
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* 去掉各 Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 去除默认边框 */
fieldset, img {
  border: 0;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

/* 去掉列表前的标识, li 会继承 */
ol, ul, dl {
  list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left;
}

/* 来自 yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before, q:after {
  content: '';
}

/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
  text-decoration: none;
}

/* 点击不弹出对话框 */
a, img {
  -webkit-touch-callout: none;
}

input, select, textarea {
  font-size: 100%;
}

textarea, input[type="password"], input[type="text"] {
  resize: none;
  outline: none;
  -webkit-appearance: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fff;
}
