/*popup css*/
.clear-fix::before,
.clear-fix::after {
  display: table;
  content: '';
}
.clear-fix::after {
  clear: both;
}
.popup-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 999999999;
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.popup-box ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.popup-box .confirm-text,
.popup-box .text,
.popup-box .confirm-button,
.popup-box .button,
.popup-box .icon {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.popup-mask {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 67, 67, 0.5);
}
.popup-item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}
.popup-confirm {
  width: 250px;
  height: 160px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px -2px rgba(85, 85, 85, 0.5);
}
.popup-confirm .confirm-text {
  width: 100%;
  height: 70%;
  padding: 25px 32px 12px;
  line-height: 1.625;
  color: #222222;
}
.popup-confirm .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.popup-confirm .confirm-button {
  width: 100%;
  height: 30%;
  border-top: 1px solid #eee;
  background-color: #eee;
}
.popup-confirm .button {
  width: 49.8%;
  height: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: #f8f8f8;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}
.popup-confirm .yes {
  float: left;
  color: #377bd7;
}
.popup-confirm .yes:active {
  background-color: #377bd7;
  color: #fff;
}
.popup-confirm .no {
  float: right;
  color: #666;
}
.popup-confirm .no:active {
  background-color: #666;
  color: #fff;
}
.popup-success,
.popup-failure,
.popup-loading {
  width: 188px;
  height: 112px;
  max-height: 112px;
  padding: 25px 26px 25px;
  background-color: rgba(85, 85, 85, 0.9);
  box-shadow: 2px 2px 8px -2px rgba(85, 85, 85, 0.5);
}
.popup-success .icon,
.popup-failure .icon,
.popup-loading .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background: transparent center / cover no-repeat;
}
.popup-success .text,
.popup-failure .text,
.popup-loading .text {
  width: 100%;
  margin-top: 15px;
  color: #fff;
  line-height: 1.25;
  white-space: nowrap;
  overflow-x: hidden;
}
/* extend在这里有一点问题 */
.popup-success .icon,
.popup-failure .icon,
.popup-loading .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA+CAYAAABzwahEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAx1JREFUeNrsm9Fx4yAQQJHmClA60FVguwNfBfF1IFWQpALJFXhSgdSBkwriDuxU4OvA7kC3q1llOBlpwIAA5XaGwf4Q8NhlWRbpB7MoTdOsocKygJLQ7zE5QLlC+cTfURQdWCgCsBmUPZRLoy8XaivzFTaFsjMEOzYJ2EfqA3ACpWqmF+wz0Rl7rAH9DNUZigszxD7PMIZyarM+Nv7I8R7zjxWhN1AdoSw9cjE4lqOqA4wVoNGs9rQt+SY4pkrF9GNJ6AqqIoDdtKCx6oNTQxkLRzIZ+FjCvEOC5uHLu8DJkRUsXCnGHF48tGWhs2Dhy2CkN6RxX733Pd5+LwVOEdmSzUeWovUe9WNvCkMTNi/Bo+4Kjrl/hjS+myF0Z/KFUOPkBM5s3vKz0zqv8Sc2f3kSafwyUzP/Z62Dxh++NE4bfYjQJ9W13gU1nak/BuqlV7hu6b+sPPLg68CgfwF0q21yVq8Kz29acEoBJyFCc7JQTKis44C0LYSmNbtRbKsFXwQOfc9hahEHYOamoVvvHmGa8ptBjyci5gytA57DgDDqewkRumtM+fqmPxgLd2RLwTiN9qNt6qCVGi0gGE1raLwRJfEMaGQSTXfCNJ41CT8ptC64KfjJoTvwD4fwTqCROVY80omk6sNLOrzpHJmgbwT/NNCQKrxLaNYy4xHNoAnJmL0r8+Zl/ZVvmwjeB+iG73hvuG0R/MYHaGTlY/V3w2tItObfHK5pXt77M2/jHbVsJGKcWtMNpdBvTme1hdmthtY8c3MNXYs0kFqc6Yzr59nhq2HpjcYpTVtbmumKIkR8VWznKLFR87el/6+JSetXxeR8KPLKQ99onNO8b28v6siJrpqkcm6/DRxefDHxXDrZSGaRzwD8RXDdNJ5lxUgLqm3A0Fs6Iaqnl+HB0uIWZ3vrKrXy6tBAHhh8TWPWv1CghraBmLeUb5LOq5Pp5J56+yvd7pSyDyhdKJCzwD3x5BH0iaIypeWofJOCWx0FBFvH2r+Saa/6UZl1oROdq8+vUue29u0+uBvJrJjM4Vn5xDKyPAmYxsXi3Ue1fwUYAH7EaWfqiSacAAAAAElFTkSuQmCC);
}
.popup-failure {
  width: 212px;
  padding-left: 15px;
  padding-right: 15px;
}
.popup-failure .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA+CAYAAABzwahEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiRJREFUeNrsm+F1gyAQxyETOIKdoMkGjpBuYDfICNnAEewGdoNkA9MJ0g3MBvRoyKvPWErxDsHL/z2CLx/An5x4d4AUhFJKFVDp8gwlM9c2HaFcoHzoaynlUaQigC2hNFA6NV2daauMFTaHUiHB2h6C7iOPATiDUqvw0n1mc0HviEfYxQJ2oc26VfGoJTd/6GA78yjbRn9LBb1X8WuPDV2rdFRzhMaBT8S8vcxe2iYyqBqRtl7A7X13Bjefh9b41ylL+/0bgP90BdfQa7EMnQB8M/xzNfZeLwhaaz3m4cmh7w3V2cPEb+FjQQzh2482+ScY+Qvmp6schKRUmtpPbfPB/+0n/xKPk0H35yGPdvIx8MrHR7YkI8igTR9nj7aqsYY6TC8JCb5E9iY77JukgMeGvm/X5LVURPBU0FoNhplTwFNC/5i7TgGHiIwc4amhbyqoIjAf+FDQ18gN6f2eCh8S+vqew88hdEJgAB8aWusg5sqGGPg5oL8l9U+ACOkNAoRX11QXVORLRqHAneCNBdRB7iaWPBhxZHenlWAqtqbOdnJj+zlj7cCwdVnZBik8w1K2iQjuqSeeyUa26WXuCwo8l5C4LRqmtkx8Mku+uMvEva2aS9PusRXksfmH6Xavv5IUi93g55QKShCa5X5W3GSl4rhtuz/hKW4b9Qc+Pa+jGSMeHp/DOEPfXnE7fjVi/nwO3FmSENEfsZTED6EQkR6q/RJgANBgUw3hZ75YAAAAAElFTkSuQmCC);
}
.popup-loading .icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHIAAAByCAYAAACP3YV9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABT1JREFUeNrsXY11mzAQFnkdgA1CJggblExQdwM2qDconcDtBLQTkA3sDXAnsDsB2YCi5pIS1xQJ9HOI73uP57y8xJLuk+5OdychRIBo2zbunrJ9i7p7NgJYFIlNO4wcUloGkWU7jgSS4r8aVbANbew3gY0nVfy7WxC5LsJBJAAiARAJIgEQCYBIwBjeWdiUJ92HjGnG9KtzFEXf1yrgTh4pyeMFh04eB+6dzgfinDUNyHb7mWJkZ+9IHruB9isZheJK4pgQT7Y7z4nIro1ipA8VVyL3vgXIhUjSTCpIORKpijJkIiU5I2m0Poole615qDlBMh37nqMX/PZD5gwzkCieOA6kbPXQmLYRGqq1YjB+nglu2SkN29DflsSG++DUNil6qNb74MvZsLY6aHI48xZlQdeEMZeCOzRc7z52DidTabCt1LcW4mYvjVa30SppLE+YmIIcun7BMkjUDBBY3SDT6ixISyQeVLhV586ZOz5xsPECxrbzqXF8DHiKDSmZjynx6QP4HLiuV3diPp7Cp1fue/BbnZEHRGS9OOfGoCfbBEJkE+zRBEXnh7uNTBebonK491rELFbQLrkIHTSj64EKgnRBE7IcmIheSIx8erPi7xmMYxRFj0uclOJvYZVMSX3vxvEkAAAAAAAAAAAAAAAAAEAZryE6ihF+Es9hMxlmOtLzUzyfcTxAXG5BCQT5ZN1zTz9Lfs7dI/n40vFyfiWSUke5wncf6Ut+vhD98kXAbNIyIumWPjOFf5ML7qHj4BhRxfPnmf04ELG/xPOJ3COoGSQsJpIkWe9plSUzvlJqyzsxoThK6dhacCUOZkgsLMl7I1p7qEHmPyTaQmHzWF2qaHfXok4/2WzjRtg9o/cBNP5B/5YTGzhLIr9BztaRWPxuuRAf5T07X2nlpJC3vRVjkcSHN+UlZIxPpo0wOJx8zGC0gr1frBYNGOZ0wub02my5QzHSq1zl+Y/txNV8HAvCRDqzqkfwPX0m/2n8IwIDWmTOCotGBjqXXUQnFlna6FLNXmzLDkTaGdIBAAAAAAAAAAAAAAAAAAAAAAAAAoO161l65xZWnWvrVVyIRZ2foctuT1cuQ8rWRuCVS5Uaqo2KOXc8Ubg1ebMiEuuRq9pyjp0uQrj50aBMCo0zMimHDucTDqVkKyBSt6y09KJu6WLAPWpdB+UzBXJBbF2q0XJmYW0OIkffs5nZ7NzW0Nm+ZAVEVoYqyROTncoMHiWoxAow8dVSg6Zotv2c+HoknGI2L7vph4YNzqpmDXbRglNo5q53A05NS2+sWf3xc3r3iQnzFE9pfD9TjeK85fXAyRyHMXNF5GktYbiZoczKJZGVph0soEa1fZDa+tZN533Fa9gbMtifV3Ma2Y24xBmocBIxq03sJTcXKuDkazvhyoEiOxb7GN+FSWu8BdQdOQd709qAVsXuQs3BeTM4QxvbiWqFRPAObMwT8F7BW44NtKOSCMa+eMZqdJIWU/QaS7Bi3mM2mqgOoUzlhnHfuDkZMRyfaVse9Utn57enGtCuwI6eYFUzLydD7RVWMxArJlI1Q7Az1J7OpX85GFITqk5mPTXYrmoAuwZLagKtXKrVXrtbFJCZDZOpYhtK22tXq0ko2iBEIr3aKV/2OTQSWXiOrj3mEIlksZdzvYcNkUgW0RXXUaU1q9UNo0kF9XohuIxTBkIj87LnIkMu2Q/VV0q4uvT+h+Lf4S0KE9VZxqw/sJETnIzKcX+ypahVrpGdZqAIOmbUH3ZHBCOGZCbi7Wv6Hn2+0YcIk/1JOPRnCL8FGACMAMfBPHan9wAAAABJRU5ErkJggg==);
}
.popup-loading .loading {
  will-change: transform;
  -webkit-animation: popup-loading 2s linear infinite;
          animation: popup-loading 2s linear infinite;
}
@-webkit-keyframes popup-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes popup-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
